* {
    box-sizing: border-box;
}

:root {
    --containerHeight: 400px;
    --containerWidth: 400px;
    --background: #d2dbdc;
    --color: #508ABB;
    --winColor: cyan;
    --fontColor: #F6F6F6;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.heading, .sub-heading {
    text-align: center;
    padding: 5px;
    color: var(--color);
}

.heading {
    font-size: 70px;
    margin-top: 70px;
}

.sub-heading {
    margin-bottom: 7px;
}

.container {
    background-color: var(--background);
    width: var(--height);
    height: var(--width);
}

.row, .row1, .row2 {
    display: flex;
}

.symbol {
    cursor: pointer;
    background-color: var(--color);
    width: calc(var(--containerWidth) / 3);
    height: calc(var(--containerHeight) / 3);    
    border: 1px solid var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputText {
    color: var(--fontColor);
    width: calc(var(--width) / 4);
    height: calc(var(--height) / 4);
    text-align: center;
    font-size: 90px;
}


@media screen and (max-width: 415px) {
    .container {
        width: 80%;
    }
}